.bg-white {
  background-color: #fff;
}

.navbar-brand {
  padding: 23.5px 20px;
  font-size: 18px;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  padding: 20px 8px;
  margin: 0px 3px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  color: grey;
  position: static;
}

.nav-item.active {
  color: #ef5350;
}

.nav-item:hover {
  color: #ef5350;
}

a {
  color: inherit !important;
}

.nav-link {
  padding: 5px;
}

.navbar-collapse.collapse.in {
  display: block !important;
}
